[Unit]
Description=Node Application
After=network.target

[Service]
Type=forking
User=vagrant
ExecStart=/usr/bin/node /usr/bin/ghost start
WorkingDirectory=/opt/ghost/
Restart=on-failure

[Install]
WantedBy=multi-user.target
